body {
  background-color: hsl(275, 100%, 97%);
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  max-width: 600px;
  margin: 50px auto;
}

.faq-box {
  border: 1px hsl(292, 16%, 49%);
  padding: 7px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #f5f5f5;
  overflow: hidden;
}

.faq-title {
  padding: 15px;
  margin: 0;
  background-color: #f5f5f5;
}

.faq-question {
  background-color: #f5f5f5;
  color: hsl(292, 42%, 14%);
  padding: 15px;
  margin: 0;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.faq-answer {
  padding: 15px;
  color: hsl(292, 16%, 49%);
  margin: 0;
  display: none;
}

.faq-question.active {
  background-color: #ddd;
}
