body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2a2a2a; /* Light grey background */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  margin: 50px auto;
  width: 500px;
}

.info-container {
  background-color: #4a4a4a; /* Separate light grey box */
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #3d3d3d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block; /* Display buttons as blocks */
  font-size: 16px;
  margin-bottom: 10px; /* Add some space between buttons */
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-details {
  text-align: center;
}

h1 {
  font-size: 24px;
  color: aliceblue;
  margin-bottom: 5px;
}

h2 {
  font-size: 18px;
  color: greenyellow;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: beige;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  justify-content: flex-end;
}

.social-links button {
  background-color: #3d3d3d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block; /* Display buttons as blocks */
  font-size: 16px;
  margin-bottom: 10px; /* Add some space between buttons */
}
.social-links button:hover {
  background-color: #b3ff00; /* Change background color on hover */
  color: #2f2f2f;
}

.social-links i {
  font-size: 20px;
}
